
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}
 
.intro_section{
    background: #dad9da
}

.big_name{
    font-family: 'Archivo Black', sans-serif;
    color: #111111;
    font-size:220px;
    line-height: 244px;
    text-align: start;
    letter-spacing: -8.04px;
    padding-top: 90px;
}

.designation>h3{
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight:700;
    color: #111111;
}

.common_p{
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}

.nav_list{
    font-size: 16px;
    line-height: 24px;
}
 
.ul_hover_effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
  }
  
  .ul_hover_effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.7px;
    background-color: #111111;
    transition: width 0.50s ease-out;
  }
  .ul_hover_effect:hover::before {
    width: 100%;
  }

.about_section{
    padding-top:55px;
    padding-bottom: 150px;
    background: #dad9da
}

.about_me>h1{
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 90px;
}

.about_me>h6{
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.about_me>p{
    color: black;
    font-size: 18px;
    letter-spacing: -1.00px;
}

.custom_btn{
    height: 65px;
    width: 100%;
    text-decoration: none;
    background: black;
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: 'Spectral', serif;
    font-size: 20px;
    font-weight: 0px;
    cursor: pointer;
    color: white;
}

.custom_btn:hover{
    background: rgb(44, 43, 43);
    color: white;
}

.skill_section{
    background-color: #ec5239;
    padding: 120px 30px 0px 50px;
    padding-bottom: 200px;
}

.skill_div{
    background-color: #ec5239;
    padding: 120px 30px 0px 50px;
    padding-bottom: 200px;
}

.skill_fonts{
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    cursor: pointer;
}

li{
    color: #111111;
    font-weight: bold;
}

.svg_icon{
    height:50px;
    width: 50px;
    transition: transform 0.5s ease-in;

}

.svg_icon:hover{
    transform: rotate(38deg);
}

.skills_p{
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}

.project_section{
    padding-top: 150px;
    background: #1d1c1d;
    padding-bottom: 250px;
}

.projects_H{
    color: #dedad8;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 200px;
    letter-spacing:2px;
    line-height: 200px;
}

.svg_icon_project{
    height:60px;
    width: 60px;
}

.circle_container{
    background: #dedad8;
    height: 300px;
    width: 300px;
    border-radius:50%;
    color:black;
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;
}

.circle_container:hover{
    transform: rotate(0deg);
    background: #ec5239;
}

.git_btn-anchor{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.paid_badge{
    width: 100px;
    text-align: center;
    background: rgb(3, 55, 9);
    position: absolute;
    transform: rotate(-35deg);
    left: -15px;
    top: 8px;
    
}
.card{
    background: rgb(36, 35, 35) !important;
    border-radius:4% !important;
    font-family: 'Montserrat', sans-serif ;
    min-height: 450px;
    position: relative;
    overflow: hidden;
}

.card:hover{
    border:1px solid blue;
}

.card_tittle{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}

.tech_info{
    font-size: 11px;
}

.project_desc{
    font-size: 13px;
    
}


.education_section{
    background: #dad9da;
    padding-bottom: 200px;
    padding-top: 80px;
}

.education_H{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    font-size: 70px;
}

.edu_row{
    padding-top:100px;
}

.edu_Info_container{
    border-left: 3px solid black;
}

.iub_logo{
    width:80px;
    border-radius:50%
}

.course-work_container>li{
    list-style: none;
}


.contact_section{
    background: #dad9da;
    padding-bottom: 100px;
}

.contact_H{
    font-size: 70px;
    line-height: 100px;
    font-weight: 200;
    letter-spacing:-2px;
}

.brand{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    color: #ec5239
}

.contact_p_2nd{
    line-height: 10px;
}

.hidden_p2{
    display: none;
}

.circle_container_footer1{
    background: white;
    height: 150px;
    width: 150px;
    border-radius:50%;
    color: black;
    transform: rotate(35deg);
    transition: all 0.5s ease-in-out;
    fill: black;
    font-weight: bold;
    font-size:12px;
}

.circle_container_footer1:hover{
    transform: rotate(0deg);
    background: black;
    fill: white;
    color:white;
    
}

.svg_icon_footer1{
    height:50px;
    width: 50px;
}


.circle_container_footer2{
    background: rgb(36, 35, 35);
    height: 300px;
    width: 300px;
    border-radius:50%;
    color:white;
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;
    fill:white
}

.circle_container_footer2:hover{
    transform: rotate(0deg);
    
}

.circle_links>a{
    color:white;
    text-decoration: none;
}

.footer_section{
    background: #dad9da;
    padding-bottom: 60px;
}

.footer_text{
    font-size: 12px;
}

.footer_text>span{
    font-weight: bolder;
    font-style: italic;
}






/************** NECESSARY Media queries for Small screen *********************/

@media only screen and (max-width: 600px) {
    .big_name{
        font-family: 'Archivo Black', sans-serif;
        color: #111111;
        font-size:60px;
        font-weight:500;
        line-height: 150px;
        letter-spacing: 0px;
    }

    .designation{
        padding-bottom: 30px;
    }
    .designation>h3{
        font-family: 'Tangerine', cursive;
        font-size: 30px;
        font-weight:500;
        color: #111111;
    }

    .nav_list{
        font-size: 14px;
        line-height: 20px;
    }

    .about_section{
        padding-top:55px;
        padding-bottom: 40px;
        background: #dad9da
    }

    .about_me>h1{
        font-size: 50px;
    }

    .about_me>h6{
        font-size: 20px;
    }

    .about_me>p{
        font-size: 15px;
    }
    .custom_btn{
       
        font-size: 15px;
        font-weight: 0px;
       
    }

    .svg_icon{
        height:18px;
        width: 18px;
    }

    .skill_section{
        padding-bottom: 120px;
    }

    .skill_fonts{
        font-size: 24px;
    
    }

    .skills_p,li{
        font-size: 15px;
        line-height: 20px;
        color: #111111;
    }

    .project_section{
        padding-bottom: 100px;
    }
    
    
    .projects_H{
        color: #dedad8;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 70px;
        letter-spacing:2px;
        line-height: 70px;
    }

    .projects_H_p{
        font-size: 15px;
    }

    .svg_icon_project{
        height:40px;
        width: 40px;
    }

    .circle_container{
        height: 200px;
        width: 200px;
    }
    
    .circle_container:hover{
        transform: rotate(0deg);
        background: #ec5239;
    }

    .education_section{
        padding-top: 0px;
        padding-bottom: 150px;
    }

    .edu_Info_container{
        border-left: none;
    }

    .education_H{
        font-size: 50px;
        line-height: 100px;
    }
    
    .contact_H{
        font-size: 40px;
        line-height: 40px;
    }
    
    .brand{
        font-family: 'Archivo Black', sans-serif;
        font-weight: 400;
        color: #ec5239
    }
    
    .contact_p_2nd{
        line-height: 0px;
    }

    .hidden_p1{
        display:none;
    }
    
    .hidden_p2{
        display: block;
    }

  }


  /************** NECESSARY Media queries for Extra Small screen *********************/

  @media (max-width: 375px) {
    .Card_2{
        width: 17em !important;
    }

    .Card_3{
        width: 17em !important;
    }
  }


  /************** NECESSARY Media queries for Medium screen *********************/

  @media (min-width: 426px) and (max-width: 768px) {
    .skill_fonts{
        font-size: 50px;
    }
    .projects_H{
        color: #dedad8;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 100px;
        letter-spacing:2px;
        line-height: 100px;
    }

    .projects_H_p{
        font-size: 20px;
    }
  }



  

/************** Light Bulb animation part starts *********************/
.area {
    width: 200px;
    height: 450px;
    animation: swing 1.2s infinite ease-in-out alternate;
    transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
}

.wire {
    position: relative;
    left: 98px;
    height: 200px;
    width: 4px;
    background-color: black;
}

.fixture {
    position: relative;
    background-color: grey;
    width: 16px;
    height: 20px;
    left: 92px;
}

.strip {
    position: relative;
    width: 18px;
    height: 2px;
    right: 1px;
    top: 4px;
    background-color: darkgrey;
}

.strip:nth-of-type(2) {
    top: 7px;
}

.strip:nth-of-type(3) {
    top: 10px;
}

.bulb {
    position: relative;
    width: 40px;
    height: 40px;
    left: 80px;
    bottom: 2px;
    z-index: -1;
    background-color: #e0641c;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 150px 20px #ece8e5;
   
}

.zig {
    position: relative;
    background-color: transparent;
    width: 10px;
    height: 5px;
    border-radius: 5px / 2.5px;
    left: 14px;
    border: black solid 1px;
}

.zig:nth-of-type(2) {
    top: -3px;
}

.zig:nth-of-type(3) {
    top: -6px;
}

@keyframes swing {
    from {
        -moz-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

/************** Light Bulb animation part ENDS *********************/


